* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --cor1:#262526;
    --cor2:#F2E1C2;
    --cor3:#F23207;
    --cor4:#D9310B;
    --cor5:#8C2D18;
  }

  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo > img {
    width: 100px;
    padding-top: 5px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: var(--cor1);
    height: 8vh;
  }
  
  body {
    background: url("https://wallpapercave.com/wp/s5xMXCU.jpg") no-repeat top center;
    background-size: cover;
    height: 92vh;
    background-attachment: fixed;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--cor4);
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: var(--cor5);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  main > h1 {
    color: var(--cor2);
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
    display: block;
    text-shadow: 0px 5px 10px  rgb(255, 0, 0);
  }

  #titulo{
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
  }
  
  main,.row{
      min-height: 90vh;
  }

  main {
    width: 25vh;
  }
  
  #dv1{
    height: 80vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0%);
  
  }
  
  img{
    max-width: 80%;
    width: 80%;
    height: 100%;
    object-fit:cover;
    position: relative;
    z-index: 1;
    transition: left 1.5s;
  }
  
  #img1{
    left: 10%;
  }
  
  #img2{
    left:90%;
    top:-100%;
    filter: blur(5px);
  
  }
  #img3{
    left:170%;
    top:-200%;
    filter: blur(5px);
  
  }
  
  #img4{
    left:250%;
    top:-300%;
    filter: blur(5px);
  }
  
  #esquerda{
    width: 10%;
    height: 20%;
    position: relative;
    top:-360%;
    left:0%;
    background-color: rgba(200,200,200,25%);
  }
  #esquerda:hover{
    cursor: pointer;
  }
  
  #direita{
    width: 10%;
    height: 20%;
    position: relative;
    top:-380%;
    left:90%;
    background-color: rgba(200,200,200,25%);
  }
  #direita:hover{
    cursor: pointer;
  }
  
  .icone{
    width: 100%;
      object-fit: scale-down;
  }
  
  
  #b1{
      background-color: rgba(255,255,255,100%);
  }
  
  .mostradores{
    position: relative;
    left: 0%;
    top: -360%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    align-items: center;
      z-index:5 !important;
  }
  
  .mostrador{
    width: 4vh;
    height: 4vh;
    border-radius: 3vh;
    background-color: rgba(255,255,255,50%);
    z-index: 2;
  }

  @media screen and (max-width: 1100px) and (orientation:portrait){
    #dv1{
    height: 40vh;
    }
      .mostrador{
          width: 4vw;
          height: 4vw;
          border-radius: 3vw; }
          }

          img.carrossel {
            width: 720px;
            height: 480px;
          }
